@charset "UTF-8";
/* line 13, ../sass/style.scss */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* line 19, ../sass/style.scss */
body {
  background-color: #f0f0f0;
}
/* line 21, ../sass/style.scss */
body.dark-mode {
  color: #f0f0f0;
  background: #444;
}

/* line 27, ../sass/style.scss */
ul, ol {
  list-style: none;
}

/* line 31, ../sass/style.scss */
img {
  width: 100%;
  height: 100%;
}

/* line 36, ../sass/style.scss */
button {
  background: none;
}
/* line 39, ../sass/style.scss */
button:hover, button:focus {
  outline: none;
}

/* line 45, ../sass/style.scss */
#switch {
  height: 0;
  width: 0;
  visibility: hidden;
}
/* line 50, ../sass/style.scss */
#switch:checked {
  background: #fff;
}
/* line 53, ../sass/style.scss */
#switch:checked + label {
  background: #fff;
  border: 1px solid #444;
}
/* line 56, ../sass/style.scss */
#switch:checked + label:after {
  left: calc(100% - 1px);
  transform: translateX(-100%);
  background: #444;
}
/* line 64, ../sass/style.scss */
#switch + label {
  background: #444;
  border: 1px solid #444;
  width: 50px;
  height: 20px;
  cursor: pointer;
  display: block;
  border-radius: 15px;
  position: relative;
  margin-left: auto;
}
/* line 74, ../sass/style.scss */
#switch + label:after {
  content: '';
  position: absolute;
  top: 1px;
  left: 1px;
  width: 16px;
  height: 16px;
  background: #fff;
  border-radius: 90px;
  transition: 0.3s;
}
@media only screen and (max-width: 1024px) {
  /* line 64, ../sass/style.scss */
  #switch + label {
    margin-left: 10px;
  }
}
/* line 89, ../sass/style.scss */
.nav-item:hover #switch + label {
  background: #fff;
}
/* line 91, ../sass/style.scss */
.nav-item:hover #switch + label:after {
  background: #444;
}

/* line 98, ../sass/style.scss */
.text-hidden {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  white-space: normal;
  overflow: hidden;
}

/* line 109, ../sass/style.scss */
.title-xl {
  font-size: 20px;
}
/* line 113, ../sass/style.scss */
.title-l {
  font-size: 18px;
}
/* line 117, ../sass/style.scss */
.title-m {
  font-size: 16px;
}
/* line 121, ../sass/style.scss */
.title-s {
  font-size: 14px;
}
/* line 125, ../sass/style.scss */
.title-xs {
  font-size: 12px;
}

/* line 130, ../sass/style.scss */
#content {
  display: flex;
  flex-direction: row;
}
@media only screen and (max-width: 1024px) {
  /* line 130, ../sass/style.scss */
  #content {
    overflow: hidden;
    flex-direction: column;
  }
}

/* line 140, ../sass/style.scss */
#video-wrap {
  display: flex;
  flex-direction: column;
  margin-left: 300px;
  margin-bottom: 40px;
}
@media only screen and (max-width: 1024px) {
  /* line 140, ../sass/style.scss */
  #video-wrap {
    margin-left: 0;
  }
}

/* line 151, ../sass/style.scss */
#video-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 20px;
  padding: 15px;
}

/* line 159, ../sass/style.scss */
#sideNav {
  background: #fff;
  box-shadow: 5px 0 3px #ccc;
  height: 100%;
  width: 300px;
  flex-wrap: wrap;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  min-height: 100%;
  position: relative;
  flex-grow: 1;
  overflow-y: hidden;
  position: fixed;
}
@media only screen and (max-width: 1024px) {
  /* line 159, ../sass/style.scss */
  #sideNav {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 10;
  }
}
/* line 183, ../sass/style.scss */
.dark-mode #sideNav {
  background: #1f1f23;
  color: #f0f0f0;
  box-shadow: 5px 0 3px #333;
}

/* line 190, ../sass/style.scss */
#pagination {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 500px;
  margin: auto;
}
@media only screen and (max-width: 480px) {
  /* line 190, ../sass/style.scss */
  #pagination {
    width: 100%;
  }
}
/* line 201, ../sass/style.scss */
#pagination .page-item {
  padding: 0px 5px;
}
/* line 203, ../sass/style.scss */
#pagination .page-item.disabled {
  pointer-events: none;
}
/* line 206, ../sass/style.scss */
#pagination .page-item.disabled .page-link {
  border-color: #999;
  color: #999;
}
/* line 212, ../sass/style.scss */
#pagination .page-item.first-page {
  padding-right: 5px;
}
/* line 216, ../sass/style.scss */
#pagination .page-item.last-page {
  padding-left: 5px;
}
@media only screen and (max-width: 480px) {
  /* line 201, ../sass/style.scss */
  #pagination .page-item {
    padding: 0;
  }
}
/* line 226, ../sass/style.scss */
#pagination .page-link {
  border: 1px solid #333;
  border-radius: 3px;
  width: 40px;
  height: 40px;
  list-style: none;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  cursor: pointer;
  font-size: 18px;
  line-height: 40px;
  color: #333;
}
/* line 239, ../sass/style.scss */
#pagination .page-link.active, #pagination .page-link:hover {
  color: #fff;
  background: #333 !important;
}
/* line 244, ../sass/style.scss */
.dark-mode #pagination .page-link {
  background: #f0f0f0;
}

/* line 250, ../sass/style.scss */
.nav-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}
/* line 255, ../sass/style.scss */
.nav-item:hover {
  background: #444;
  color: #fff;
}
/* line 259, ../sass/style.scss */
.nav-item.active {
  background: #444;
  color: #fff;
}
@media only screen and (max-width: 1024px) {
  /* line 250, ../sass/style.scss */
  .nav-item {
    flex-grow: 1;
    justify-content: center;
  }
}
/* line 269, ../sass/style.scss */
.nav-item a {
  text-decoration: none;
  color: inherit;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 50px;
  width: 100%;
  padding: 0 20px;
}
/* line 280, ../sass/style.scss */
.nav-item ion-icon {
  margin-right: 15px;
}

/* line 285, ../sass/style.scss */
.img-box {
  position: relative;
  width: 100%;
  display: flex;
  flex-shrink: 0;
  cursor: pointer;
}

/* line 294, ../sass/style.scss */
.video-item {
  width: calc(100% / 4 - 20px);
  margin: 0 10px 20px;
  display: flex;
  flex-direction: column;
  align-content: stretch;
  overflow: hidden;
  background: #fff;
  border-radius: 3px;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
}
@media only screen and (max-width: 768px) {
  /* line 294, ../sass/style.scss */
  .video-item {
    width: calc(100% / 2 - 20px);
  }
}
@media only screen and (max-width: 480px) {
  /* line 294, ../sass/style.scss */
  .video-item {
    width: 100%;
  }
}
/* line 313, ../sass/style.scss */
.dark-mode .video-item {
  background: #1f1f23;
}
/* line 317, ../sass/style.scss */
.video-item .duration {
  background: #000;
  opacity: 0.8;
  color: #ffff;
  font-weight: bold;
  font-size: 14px;
  padding: 3px 5px;
  position: absolute;
  right: 0;
  bottom: 0;
}
/* line 330, ../sass/style.scss */
.video-title {
  font-weight: bold;
}
/* line 334, ../sass/style.scss */
.video-detail {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
  padding: 15px;
}

/* line 346, ../sass/style.scss */
#play-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 15px;
  width: 100%;
}
/* line 353, ../sass/style.scss */
#play-list .video-item {
  width: 100%;
  display: flex;
  flex-direction: row;
}
@media only screen and (max-width: 768px) {
  /* line 353, ../sass/style.scss */
  #play-list .video-item {
    margin: 0 0 20px;
  }
}
@media only screen and (max-width: 480px) {
  /* line 353, ../sass/style.scss */
  #play-list .video-item {
    flex-direction: column;
    margin: 0 0 20px;
  }
}
/* line 368, ../sass/style.scss */
#play-list .video-detail {
  max-width: 700px;
}
@media only screen and (max-width: 768px) {
  /* line 368, ../sass/style.scss */
  #play-list .video-detail {
    overflow: auto;
  }
}
/* line 376, ../sass/style.scss */
#play-list .img-box {
  width: 400px;
}
/* line 380, ../sass/style.scss */
#play-list .duration {
  background: #000;
  opacity: 0.8;
  color: #ffff;
  font-weight: bold;
  font-size: 14px;
  padding: 3px 5px;
  position: absolute;
  right: 0;
  bottom: 0;
}

/* line 395, ../sass/style.scss */
#video-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background: #333;
  color: #f0f0f0;
  margin: 40px;
  box-shadow: 0 0 40px #000;
  width: 100%;
}
@media only screen and (max-width: 1024px) {
  /* line 395, ../sass/style.scss */
  #video-container {
    flex-direction: column;
    margin: 0;
  }
}
/* line 410, ../sass/style.scss */
#video-container .video-wrap {
  width: 100%;
  flex-grow: 2;
  display: flex;
}
/* line 416, ../sass/style.scss */
#video-container .video-detail {
  justify-content: flex-start;
  padding: 30px;
  width: 60%;
  height: 800px;
}
@media only screen and (max-width: 1024px) {
  /* line 416, ../sass/style.scss */
  #video-container .video-detail {
    padding: 15px;
  }
}
/* line 427, ../sass/style.scss */
#video-container .video-title {
  margin-bottom: 20px;
}
/* line 431, ../sass/style.scss */
#video-container .video-des {
  line-height: 2;
  overflow: scroll;
}

/* line 438, ../sass/style.scss */
.btn-like {
  cursor: pointer;
  border: 1px solid #2b2b2b;
  border-radius: 5px;
  font-size: 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: #333;
  padding: 3px 5px;
  font-weight: bold;
  transition: all .5s ease-in-out;
  width: 60px;
  align-self: flex-end;
  margin-top: 10px;
}
/* line 456, ../sass/style.scss */
.btn-like:hover ion-icon {
  transform: scale(1.3);
}
/* line 461, ../sass/style.scss */
.btn-like:before {
  font-size: 20px;
  margin-right: 2px;
}
/* line 465, ../sass/style.scss */
.btn-like:after {
  content: '收藏';
}
/* line 469, ../sass/style.scss */
.dark-mode .btn-like {
  border: 1px solid #f0f0f0;
  color: #f0f0f0;
}
/* line 474, ../sass/style.scss */
.btn-like span {
  z-index: -1;
  opacity: 1;
  transition: all 3s;
}
/* line 480, ../sass/style.scss */
.btn-like ion-icon {
  font-size: 20px;
}
/* line 484, ../sass/style.scss */
.btn-like.collected {
  width: 35px;
}
/* line 486, ../sass/style.scss */
.btn-like.collected ion-icon {
  margin-right: 0px;
}
/* line 488, ../sass/style.scss */
.btn-like.collected ion-icon:hover {
  transform: scale(1.3);
}
/* line 492, ../sass/style.scss */
.btn-like.collected:before {
  margin-right: 0px;
}
/* line 495, ../sass/style.scss */
.btn-like.collected:after {
  content: '';
}
/* line 499, ../sass/style.scss */
.btn-like.collected span {
  width: 0px;
  height: 0px;
  opacity: 0;
  transition: all 0s;
}
